@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~vue2-frappe/dist/vue2-frappe.css';


[x-cloak] {
    display: none;
}

select option {
    color: black;
}

table td, tr {
    color: white;
}
